@define-color bg-color #222832;
@define-color bg-tone #323842;
@define-color active-window-color #878e9d;
@define-color urgent-window-color #878e9d;
@define-color font-color #d3d4d5;
@define-color urgent-font-color #f3f4f5;

.Contents {
	border-radius: 0px;
	padding: 0px;
}
.Active .Contents, .Visible .Contents {
	background-color: @bg-tone;
}
.InnerPad {
	padding: 4px;
}
.WorkspaceLabel {
	padding-right: 5px;
	padding-left: 3px;
	font-size: 7pt;
}
.IconContainer {
	transition: background-color .5s;
	border-radius: 5px;
}
.IconContainer.Active {
	transition: background-color .3s;
	background-color: @active-window-color;
}
.IconContainer.Urgent {
	transition: background-color .3s;
	background-color: @urgent-window-color;
}
.IconContainer.Minimized .IconImage {
	transition: opacity .3s;
	opacity: .3;
}
#WindowSwitcher{
	background-color: @bg-tone;
}
#WindowSwitcher menu{
	background-color: @bg-tone;
  border: 0
}
.Taffybar {
	background-color: @bg-color;
	border-radius: 5px;
}
.Taffybar * {
	font-family: "System San Francisco Display", sans-serif;
	font-size: 7pt;
	color: @font-color;
}
